/* Navigation bar and header start */
header {
  background: black;
  
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-200%);
  transition: 0.5s;
  opacity: 0.65;
}

body.scroll header.sticky {
  transform: translateY(0);
}

.nav-wrapper  {
  max-width: 85%;
  /* background: black; */
  margin: 0 auto;
  position: relative;
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  /* position: fixed; */
  top: 0;
}

nav.nav-wrapper .logo a {
  font-size: 1.75rem;
}

.nav-wrapper .menu li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;

}

.nav-wrapper a {
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav.nav-wrapper ul li a {
  border-bottom: 1px solid transparent;
  /* padding-bottom: 3px; */
  transition: 0.5s;
}
nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid #fff;
}

.cover-main {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)), url('../images/hero-bg.jpg') no-repeat right bottom / cover;
  height: 100vh;
}

.profile-img img{
  max-inline-size: 200px;
}

#info {
  display: flex;
  justify-content: center;
  /* margin: 10rem auto; */
}

#info .layer {
  font-size: 3rem;
  padding: 15px 0;
  color: white;
  text-align: center;
}

#info .layer.btn.btn-main {
  margin-top: 100px;
}


.contact-btn {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  border: 1px solid white;
  font-size: 1.5rem;
  transition: 0.3s;
}

.contact-btn:hover {
  background: white;
  color: black;
}

/* Skill section style start */

#skills {
  background: rgb(250, 250, 250);
  padding-top: 3.5rem;
  /* height: 100vh; */
}
h2.sub-title {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}

h2.sub-title::after {
  display: block;
  height: 3px;
  background-color: black;
  content: "";
  width: 225px;
  margin: 30px auto 0 auto
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 3rem auto;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ebecec;
  background: white;
  border-radius: 6px;
  min-inline-size: 10.5rem;
  height: 8rem;
  margin: 0.5rem;
  padding: 1rem;
  flex: 1 1 calc(25% - 2rem);
  transition: 0.3s;
}

.card:hover {
  transform:translateY(-1px);
  transform:translateY(-1px);
  box-shadow:0 6px 25px rgba(0,0,0,.1);
  box-shadow:0 6px 25px rgba(0,0,0,.1)
}

.card i {
  font-size: 3.5rem;
}



.skill-name {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}
/* Skill section style end */
/* ======================================== */
/* About me section style start */



#about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-bg\ 2.jpg) no-repeat right bottom / cover;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  height: 100vh;
  text-align: center;
  align-items: center;
  align-self: center;
  
}

#about h2.sub-title::after {
  background-color: white;
  margin-bottom: 70px;
}

.bio {
  margin: 3rem 5rem;
  text-align: center;
  font-size: 1.25rem;
  background: rgba(248, 248, 248, 0.1);
  padding: 1rem;
  border-radius: 6px;
}

section.about span {
  font-size: 3rem;
  line-height: 3.2rem;
}

.beating-heart {
  display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
  position: relative;
  fill: red;
  width: 70px;
  margin: 0 1.5rem;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.15);
  }
  25% {
    transform: scale(1.05);
  }
  35% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* About me section style end */

/* Responsive menu start */

@media only screen and (max-width: 768px) {
  .menu-trigger {
    background: url(../images/menu.png)
    width: 35px;
    height: 35px;
    display: block;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 15px;
  }
}