/* Navigation bar and header start */
header {
  background: black;
  
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.65;
  z-index: 4;
}

body.scroll header.sticky {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-wrapper  {
  max-width: 85%;
  /* background: black; */
  margin: 0 auto;
  position: relative;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  /* position: fixed; */
  top: 0;
}

nav.nav-wrapper .logo a {
  font-size: 1.75rem;
}

.nav-wrapper .menu li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;

}

.nav-wrapper a {
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav.nav-wrapper ul li a {
  border-bottom: 1px solid transparent;
  /* padding-bottom: 3px; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid #fff;
}

.cover-main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.75))), url('../images/hero-bg.jpg') no-repeat right bottom / cover;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)), url('../images/hero-bg.jpg') no-repeat right bottom / cover;
  height: 100vh;
}

.profile-img img{
  max-height: 200px;
}

#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin: 10rem auto; */
}

#info .layer {
  font-size: 3rem;
  padding: 15px 0;
  color: white;
  text-align: center;
}

#info ul li.title {
  font-size: 2.5rem;
}

.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  -webkit-animation:
    typing 3s steps(20, end),
    blink 0.75s step-end infinite;
          animation:
    typing 3s steps(20, end),
    blink 0.75s step-end infinite;
}

@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#info .layer.btn.btn-main {
  margin-top: 100px;
}


.contact-btn {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  border: 1px solid white;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-btn:hover {
  background: white;
  color: black;
}

/* Skill section style start */

#skills {
  background: rgb(250, 250, 250);
  padding-top: 3.5rem;
  height: 100%;
}
h2.sub-title {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}

h2.sub-title::after {
  display: block;
  height: 3px;
  background-color: black;
  content: "";
  width: 225px;
  margin: 30px auto 0 auto
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin: 3rem auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid #ebecec;
  background: white;
  border-radius: 6px;
  min-inline-size: 10.5rem;
  height: 8rem;
  margin: 0.5rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 2rem);
          flex: 1 1 calc(25% - 2rem);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-transform:translateY(-1px);
          transform:translateY(-1px);
  /* transform:translateY(-1px);
  box-shadow:0 6px 25px rgba(0,0,0,.1); */
  -webkit-box-shadow:0 6px 25px rgba(0,0,0,.1);
          box-shadow:0 6px 25px rgba(0,0,0,.1)
}

.card i {
  font-size: 3.5rem;
}



.skill-name {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}
/* Skill section style end */
/* ======================================== */

/* About me section style start */

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/hero-bg\ 2.jpg) no-repeat right bottom / cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-bg\ 2.jpg) no-repeat right bottom / cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3.5rem;
  height: 100vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  
}

#about h2.sub-title::after {
  background-color: white;
  margin-bottom: 70px;
}

.bio {
  margin: 3rem 5rem;
  text-align: center;
  font-size: 1.25rem;
  background: rgba(248, 248, 248, 0.1);
  padding: 1rem;
  border-radius: 6px;
}

section.about span {
  font-size: 3rem;
  line-height: 3.2rem;
}

.beating-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.heart {
  position: relative;
  fill: red;
  width: 70px;
  margin: 0 1.5rem;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  35% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  35% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* About me section style end */
/* ======================================== */

/* Contact form style start */

#contact-form {
  /* display: none; */
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 25%;
  z-index: 6;
  background: rgba(250, 250, 250, 0.75);
  padding: 15px;
  border-radius: 6px;
  -webkit-transform: translatey(300%);
          transform: translatey(300%);
  -webkit-transition: 1s;
  transition: 1s;
}

#contact-form p {
  text-align: center;
  padding: 25px;
  margin: 0 auto;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 15px;
  color: white;
  background: darkblue;
  min-width: 50px;
  text-align: center;
  height: 45px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 14px;
  line-height: 19px;
}

.input-field:focus {
  border: 2px solid darkblue;
}

#contact-form textarea {
  font-size: 14px;
  line-height: 19px;
}

.submit-btn {
  color: white;
  background: darkblue;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  opacity: 0.75;  
  -webkit-transition: 0.5s;  
  transition: 0.5s;
}

.submit-btn:hover {
  opacity: 1;
  background: white;
  color: black;
  border: 1px solid black;
  font-size: 1.05rem;
  font-weight: bold;
}

/* contact form show on click */

.main-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.72);
  z-index: 5;
  /* display: none; */
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.main-overlay::after {
  background: url(../images/close-icon.svg) no-repeat center / cover;
  width: 35px;
  height: 0px;
  display: block;
  content: "";
  position: fixed;
  top: 10px;
  right: 25px;
  z-index: 20;
}

body.contact-form-active .main-overlay {
  opacity: 1;
  height: auto;
}

body.contact-form-active .main-overlay::after {
  height: 35px;
}

body.contact-form-active #contact-form {
  display: block;
  -webkit-transform: translatey(0);
          transform: translatey(0)
}

/* Contact form end */
/* ============================================= */

/* portfolio section start */

#portfolio {
  padding-top: 3.5rem;
  height: 80vh;
}

.card-container img {
  height: 75px;
  width: 85%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.portfolio-name {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}


/* portfolio section end */
/* ============================================= */

/* Footer start */

#footer {
  position: fixed;
  bottom: 0;  
  right: 0;
  left: 0;
  background: black;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .container {
  width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
}

#footer span {
  font-size: 18px;
}

#footer i {
  margin-right: 0.35rem;
  color: white;
}

#footer i:hover {
  color: rgb(133, 102, 161)
}

/* Footer end */
/* ============================================= */

/* Responsive menu start */

@media only screen and (max-width: 768px) {
  .menu-trigger {
    background: url(../images/hamburger-icon.svg) no-repeat center / cover;
    width: 35px;
    height: 35px;
    display: block;
    z-index: 10;
    position: absolute;
    right: 25px;
    top: 15px;
  }
  
  ul.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #131313;
    width: 100%;
    max-width: 200px;
    z-index: 30;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  nav.nav-wrapper ul.menu li {
    display: block;
    margin-top: 35px;
    padding: 0;
    padding-bottom: 20px;
  }

  nav.nav-wrapper ul.menu li {
    font-size: 18px;
    line-height: 23px;
  }

  nav.nav-wrapper ul.menu li a:hover {
    border: transparent
  }

  body.active-menu ul.menu {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    display: block;
    padding: 0 15px;
  }

  body.active-menu .main-overlay {
    height: auto;
    opacity: 1;
    height: auto;
  }

  body.active-menu .main-overlay::after {
    height: 35px;
  }

  body.active-menu .menu-trigger {
    display: none;
  }

  body.contact-form-active #contact-form {
    display: block;
    -webkit-transform: translatey(-10%);
            transform: translatey(-10%)
  }

  body.active-menu header.sticky {
    display: none;
  }

  body.contact-form-active .menu-trigger {
    display: none;
  }

}

@media only screen and (max-width: 665px) {
  .card-container {
    width: 70%;
  }

  #contact-form {
    margin: 0 15%;
  }

  .bio {
    margin: 2rem 2rem;
    background: rgba(100, 100, 100, 0.9);
  }
}

@media only screen and (max-width: 585px) {
  .heart {
    width: 60px;
  }

  .card-container {
    width: 75%;
  }
  section.about span {
    font-size: 2rem;
  }
  /* .card-container img {
    height: 70px;
  }
  .portfolio-name {
    font-size: 14px;
  } */
}

@media only screen and (max-width: 550px) {
  
  #contact-form {
    margin: 0 10%;
  }

  .bio {
    margin: 1rem 1rem;
  }
  .card-container {
    width: 65%;
  }
}

@media only screen and (max-width: 425px) {
  
  #about {
    padding-top: 2rem;
  }
  
  #about h2.sub-title {
    font-size: 25px;
    line-height: 30px;
  }

  #about h2.sub-title::after {
    margin-bottom: 40px;
  }
  
  .bio {
    font-size: 1.2rem;
  }

  section.about span {
    font-size: 1.75rem;
  }

  .heart {
    width: 55px;
  }
}

@media only screen and (max-width: 385px) {
  
  #info .layer {
    font-size: 2.5rem;
  }
  
  #info ul li.title {
    font-size: 2rem;
  }

  #info .layer.btn.btn-main {
    margin: 60px;
  }
  
  .bio {
    font-size: 1.1rem;
  }

  section.about span {
    font-size: 1.5rem;
  }

  .heart {
    width: 45px;
  }

  #footer {
    height: 65px;
  }
  #footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 5px;
  }

  body.contact-form-active #contact-form {
    -webkit-transform: translateY(-12%);
            transform: translateY(-12%);
    margin: 0 5%;
  }
}

@media only screen and (max-width: 330px) {
  .bio {
    /* margin: 0rem 1rem; */
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .heart {
    width: 40px;
  }
}